.navbar {
  width: 100%;
  height: 70px;
  background: #050816;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid #1e293b;
}

.navbar ul {
  display: flex;
  gap: 50px;
}

.navbar li {
  color: #94a3b8;
  cursor: pointer;
  transition: .3s;
}

.navbar li:hover,
.navbar .active {
  color: white;
}

/* =========================
   Responsive
========================= */

/* Large Mobile */
@media (max-width:767px) {

    .navbar {
        height: 60px;
    }

    .navbar ul {
        gap: 20px;
    }

    .navbar li {
        font-size: 14px;
    }

}

/* Tablet */
@media (min-width:768px) and (max-width:991px) {

    .navbar ul {
        gap: 30px;
    }

}