.navbar {
  width: 100%;
  height: 70px;
  background: var(--bg-primary);

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid var(--border-color);
}

.navbar ul {
  display: flex;
  gap: 50px;
}

.navbar li {
  color: var(--text-secondary);
  cursor: pointer;
  transition: .3s;
}

.navbar li:hover,
.navbar .active {
  color: var(--text-primary);
}

/* =========================
   Responsive
========================= */

/* Large Mobile */
@media (max-width:767px) {

    .navbar {
        height: 60px;
    }

    .navbar ul {
        gap: 20px;
    }

    .navbar li {
        font-size: 14px;
    }

}

/* Tablet */
@media (min-width:768px) and (max-width:991px) {

    .navbar ul {
        gap: 30px;
    }

}