/* =========================
   Reset
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
   Global
========================= */

html {
    scroll-behavior: smooth;
}

html,
body,
#root {
    width: 100%;
    min-height: 100vh;

    background: #050816;
}

/* =========================
   Font Variables
========================= */

:root {

    --font-primary: "Poppins", sans-serif;
    --font-signature: "Allura", cursive;

        /* Background */
    --bg-primary: #050816;
    --bg-secondary: #0f172a;

    /* Text */
    --text-primary: #ffffff;
    --text-secondary: #94a3b8;

    /* Border */
    --border-color: #1e293b;

    /* Accent */
    --accent: #38bdf8;
    --accent-hover: #0ea5e9;

}

body {
    background: var(--bg-primary);
    color: var(--text-primary);

    font-family: var(--font-primary);
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}