.portfolio {
    width: 100%;
    min-height: calc(100vh - 70px);

    background: var(--bg-primary);
    color: var(--text-primary);
}

/* =========================
   Responsive
========================= */

/* Large Mobile */
@media (max-width: 767px) {

    .portfolio {
        min-height: calc(100vh - 60px);
    }

}